:root{
    /* color */
--accent-color:#d890f9;
--secondary-color:#dddbff;
--linearPrimarySecondary: linear-gradient(#000000, #dddbff);

--linearPrimaryAccent: linear-gradient(#000000, #d890f9);

--linearSecondaryAccent: linear-gradient(#dddbff, #d890f9);
--webkit-secondaryAccent:  -webkit-gradient(linear, left top, left bottom, from(#dddbff), to(#d890f9));

--radialPrimarySecondary: radial-gradient(#000000, #dddbff);

--radialPrimaryAccent: radial-gradient(#000000, #d890f9);

--radialSecondaryAccent: radial-gradient(#dddbff, #d890f9);

/* button cta */
--black-700: linear-gradient(#dddbff, #d890f9);
--border_radius: 5rem;
--transtion: 0.3s ease-in-out;
--offset: 3rem;
}
  /* lenis css */
  html.lenis, html.lenis body {
    height: auto;
    }
    
    .lenis.lenis-smooth {
    scroll-behavior: auto !important;
    }
    
    .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
    touch-action: none;
     /*====peg==== Safari-friendly alternative */
    }
    
    .lenis.lenis-stopped {
    overflow: hidden;
    }
    
    .lenis.lenis-smooth iframe {
    pointer-events: none;
    }

body{ 
    /* background: url(/imgs/backgrounds/p3.svg); */
    background-attachment: scroll; 
    background-repeat: no-repeat;
    background-size: cover;
} 

.hero-company{
    width: 100%;
    position: relative;
    margin-top: 5rem;
}
.hero-company .intro{
   padding-inline: 5%;
   margin-bottom: .5rem;
}

.hero-company .intro h1{
    font-weight: 700;
    margin-bottom: .5rem;
}
.hero-company .intro p strong{
    color: var(--accent-color);
    font-weight: 700;
}
.hero-company .intro p{
    text-align: justify;
    font-weight: 400;
    line-height: 2;
}
.btn_wrapper{
    position: relative;
    display: none;
}
.backit{
    position: absolute;
    inset: 0;
    z-index: -100;
    background: url(/imgs/backgrounds/n2.svg);
    background-attachment: fixed; 
    background-position: bottom top;
    background-size: cover;
}
.about{
    position: relative;
}
@media (min-width:768px){
    .hero-company{
        margin-top: 0;
    }
    .hero-company .intro{
        padding-inline: 0;
        padding: 5rem 2rem 0 2rem;
    }
    .hero-company .intro h1{
        line-height: 1.3em;
        font-size: 3.5em;
    }
    .hero-company .intro p{
        margin-top: 1rem;
        font-size: 1.5000em;
        line-height: 2em;
    }
}
@media (min-width:1024px){
    .hero-company .intro{
        padding-inline: 5rem;
    }
}
@-webkit-keyframes spin{
    from{ 
        -webkit-transform: translate(-50%, -50%) rotatez(0deg); 
        transform: translate(-50%, -50%) rotatez(0deg);
    }
    to{
        -webkit-transform: translate(-50%, -50%) rotatez(360deg);
        transform: translate(-50%, -50%) rotatez(360deg);
    }
}
@keyframes spin{
    from{ 
        -webkit-transform: translate(-50%, -50%) rotatez(0deg); 
        transform: translate(-50%, -50%) rotatez(0deg);
    }
    to{
        -webkit-transform: translate(-50%, -50%) rotatez(360deg);
        transform: translate(-50%, -50%) rotatez(360deg);
    }
}
@media (min-width: 1114px){
    .hero-company .intro{
        padding-inline: 6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .hero-company .intro p{
        font-size: 1.2em;
        line-height: 2.5em;
    }
    .intro .left{
        width: 50rem;
    }
    .btn_wrapper{
        display: block;
        z-index: 100;
        cursor: pointer;
    }
    .btn_wrapper button{
        z-index: 100;
        position: relative;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
       -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100px;
        height: 100px;
        transition: transform .4s ease-in-out;
        background: var(--accent-color);
    }
    .btn_wrapper button:hover {
        -webkit-transform:scale(1.1);
        -ms-transform:scale(1.1);
        transform:scale(1.1);
    }
    .outter{
        z-index: 100;
        width: 200px;
        max-width: 200%;
        height: 200px;
        max-height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-animation: spin 35s infinite linear;
        animation: spin 35s infinite linear;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        transform-box: fill-box; 
    }
    .inner{
        z-index: 100;
        width:100%;
    }
}
@media (min-width: 1300px){
    .hero-company .intro{
        padding-inline: 5rem;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content:unset;
        gap: 10rem;
        padding-top: 6rem;
        margin-bottom: 5rem;
    }
    .intro .left{
        width: 60rem;
    }
    .hero-company .intro h1{
        line-height: 1.6em;
        font-size: 4em;
    }
    .hero-company .intro p{
        font-size: 2em;
        line-height: 2em;
    }
}

/* ==LOGOS== */
@-webkit-keyframes slide {
    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes slide {
    from {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 5rem 0;
    background: transparent;
    white-space: nowrap;
    position: relative;
}
.logos:hover .logos-slide {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.logos-slide {
    display: inline-block;
    -webkit-animation: slide infinite linear;
    animation: slide infinite linear;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
} 
.logos-slide img {
    display: inline-block;
    height: 2rem;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    margin-inline: 3rem;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.back-curve{
   position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/imgs/svg/curve.svg');
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat;  
}
@media (min-width: 768px){
    .logos{
        padding: 7rem 0;
    }
    .logos-slide img{
        height: 2.8rem;
        margin-inline: 6.5rem;
    }
    .logos-slide{
        -webkit-animation-duration: 35s;
        animation-duration: 35s;
    }
}
@media (min-width: 1024px){
    .logos{
        padding: 9rem 0;
    }
    .logos-slide img{
        height: 3rem;
        margin-inline: 7rem;
    }
    .logos-slide{
        -webkit-animation-duration: 40s;
        animation-duration: 40s;
    }
}
@media (min-width: 1140px){
    .logos{
        padding: 12rem 0;
    }
    .logos-slide img{
        height: 3.5rem;
    }
}
/* why us */
.about{
    width: 100%;
    padding-inline: 5%;
    margin: auto;
    text-align: center; 
}
.intro-about{
   width: 100%;
}
.intro-about h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .2rem;
}
.about-comp{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: grid;
    gap: 2rem;
}
.about-wrapper{
    border: 1px solid var(--secondary-color);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1%;
    -webkit-transform: translatey(60px);
    -ms-transform: translatey(60px);
        transform: translatey(60px);
}
@media (min-width: 1000px){
    .about-wrapper{
        -webkit-transform: translatey(0);
        -ms-transform: translatey(0);
        transform: translatey(0);
    }
}
.title-about{
    font-weight: 900;
    display: block;
    line-height: 1.5;
    font-size: large;
}
@media (min-width: 768px){
    .intro-about h2{
        font-size: 3rem;
    }
    .about-comp{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 1024px){
    .intro-about{
        margin-bottom: 3rem;
    }
    .intro-about h2{
        font-size: 3.5rem;
    }
    .about-comp{
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(3,1fr);
        row-gap: 5rem;
    }
}
/* side content */
.more{
    color: white;
    max-width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding-top: 3rem;
    padding-bottom: 7rem;
    overflow-x: hidden;
    position: relative;
}
/* PEG */
@media(min-width: 1000px){
   .more{
    margin-top: 1rem;
   }
}
.abt-hd{
    display: -webkit-grid;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    padding-left: 1rem;
}
.abt-hd h2{
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.hr{
    width: 40%;
    height: .25rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}
.flexer{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
/* sidebar */
.flexer aside{
    display: -webkit-grid;
    display: -ms-grid;
    display: grid;
   gap: 3rem;
   width: 3rem;
   padding-top: 5rem;
}
@media(max-width: 1023px){
   .flexer aside{
    position: absolute;
    top: 0;
    left: 0;
   }
}
.disable{
    display: none;
}
.side-text a{
    position: absolute;
    left: -2px;
    top: unset;
    display: -webkit-grid;
    display: -ms-grid;
    display: grid;
    width: 1rem;
    height: .12em;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: var(--secondary-color);
}
@media(min-width: 768px){
    .side-text a{
        width: 1.5rem;
    }
}
.dsp{
    padding-top: 4.5rem;
    padding-inline: 2rem;
    display: -webkit-grid;
    display: -ms-grid;
    display: grid;
    gap: 2rem;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.dsp-inner{
   opacity: .5;
   margin-bottom: 3rem;
   -webkit-transform: translate3d( 0, 20px, 0);
    transform: translate3d( 0, 20px, 0);
   -webkit-transition: opacity .2s ease-in-out, -webkit-transform .5s linear;
   transition: opacity .2s ease-in-out, -webkit-transform .5s linear;
   -o-transition: transform .5s linear, opacity .2s ease-in-out;
   transition: transform .5s linear, opacity .2s ease-in-out;
   transition: transform .5s linear, opacity .2s ease-in-out, -webkit-transform .5s linear;
}
.dsp-inner h5{
    text-transform: capitalize;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: .5em;
}
.dsp-inner p{
    line-height: 2;
}
.side-text a.active{
    width: 2rem;
    height: .2rem;
    background-color: var(--accent-color);
}
.visible{
    opacity: 1;
    -webkit-transform: translate3d(0 , 0, 0);
    transform: translate3d(0 , 0, 0);
}
@media(min-width: 1024px){
    .more{
        padding-top: 5rem;
    }
    .abt-hd{
        display: -webkit-grid;
        display: -ms-grid;
        display: grid;
        gap: 1rem;
        padding-left: 10rem;     
    }
    .disable{
        display: block;
    }
    .flexer aside{
        row-gap: 2rem;
        width: 10rem;
        padding: 5rem 0 2rem 0;
    }
     .side-text a{
        position: static;
        width: unset;
        height: unset;
        border-radius: 0;
        font-size: 2rem;
        font-weight: 700;
        background-color: transparent;
    }
    .side-text a.active{
        width: unset;
        height: unset;
        background-color: transparent;
        border-left: 3px solid var(--secondary-color);
        padding-left: 1rem;
    }
    .side-text a:any-link{
        color: white;
        text-decoration: none;
    }
    .dsp{
        padding-top: 4.5rem;
        padding-inline: 2rem;
        margin-bottom: 2rem;
        gap: 2rem;
    }
    .dsp-inner{
        width: 40rem;
        opacity: .7;
        margin-bottom: 3.5rem;
        padding-left: 1rem;
        padding-bottom: 3rem;
        -webkit-transform: translate3d( 0, 37px, 0);
        transform: translate3d( 0, 37px, 0);
        border-bottom: 1px groove var(--accent-color);
    }
    .dsp-inner:last-child{
        border: none;
        padding: 0;
        opacity: 1;
    }
    .visible{
        opacity: 1;
        -webkit-transform: translate3d(0 , 0, 0);
        transform: translate3d(0 , 0, 0);
    }

}
.spacer{
    height: 5dvh;
    background-color: black;
}
.divider-middle{
    position: relative;
    min-height: 2vh;
    min-height: 2dvh;
    background-color: transparent;
    z-index: -1;
}
.custom-shape-divider-top {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
/* change height to get desired effect */
.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px; 
}
.custom-shape-divider-top .shape-fill {
    fill: #000000;
}
.divider-middle  img{
    display: inline-block;
    width: 5rem;
    height: 5rem;
}
@media(min-width: 768px){
    .divider-middle  img{
        width: 7rem;
        height: 7rem;
    }
}
@media(min-width: 1024px){
    .divider-middle  img{
        width: 8rem;
        height: 8rem;
    }
}

/*== =============team ==== */
.team-cont{
    width: 100%;
    padding-bottom: 4rem;
    padding-left: 1rem;
    overflow-x: hidden;
}
.team-cont h2{
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.team-flex-wrap {
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;  
    -webkit-user-select: none;
    user-select: none;
    color: #000;
    gap: 4rem;
} 
.team-flex-wrap .card {
    color: #000;
    border-radius: 2rem;
    border: 2px solid #D9D9D9;
    cursor: pointer;
    height: auto; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
.team-flex-wrap .card::-webkit-scrollbar {
    display: none;
}
.team-flex-wrap .card:hover {
    border-color: var(--secondary-color);
}
.team-flex-wrap .card:hover .mask {
    opacity: 1;
    background: #d890f915;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(20px);
}
.team-flex-wrap .card:hover .top {
    height: unset;
    padding-bottom: 1rem;
}
.team-flex-wrap .card:hover .top .img-wrap {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
}

.team-flex-wrap .card:hover .top .bio .position {
    color: rgba(0, 0, 0, 0.7);
    white-space: unset;
    overflow: unset;
}
.team-flex-wrap .card:hover .bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.team-flex-wrap .card .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 20px;
}
.team-flex-wrap .card .top {
    padding: 40px;
    height: 100%;
    position: relative;
    z-index: 1;
}
  @media (max-width: 992px) {
    .team-flex-wrap .card .top {
      padding: 20px;
      padding-bottom: 0;
      height: unset;
    }
  }
  .team-flex-wrap .card .top .img-wrap {
    width: 100%;
    height: 250px;
    height: 15rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .team-flex-wrap .card .top .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .team-flex-wrap .card .top .bio {
    padding-top: 24px;
  }
  @media (max-width: 1200px) {
    .team-flex-wrap .card .top .bio {
      padding-top: 20px;
    }
  }
  .team-flex-wrap .card .top .bio .name {
    color: #1F2122;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .team-flex-wrap .card .top .bio .position {
    margin-top: 6px;
    overflow: hidden;
    color: rgba(31, 33, 34, 0.7);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1.2rem;
    line-height: 170%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    white-space: nowrap;
  }
  .team-flex-wrap .card .bottom {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    overflow: hidden;
    color: #000000;
    font-size: 1.2rem;
    line-height: 170%;
    padding: 0 40px 40px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    opacity: 0;
    position: relative;
    z-index: 1;
  }
  @media (max-width: 800px) {
    .team-flex-wrap .card .bottom {
      padding: 0;
      margin-top: .25em;
      padding-left: 1rem;
      padding-right: .5rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      color: #272727;
      font-size: 18px;
      font-weight: 400;
      line-height: 170%;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      margin-bottom: 8px;
      transform: unset;
      visibility: visible;
      opacity: 1;
      height: 96px;
    }
    .team-flex-wrap .card:hover .bottom{
        display: block;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
        overflow: visible;
        text-overflow: unset;
    }
  }
  @media (min-width: 500px){
    .team-cont{
        padding-left: 2.5rem;
    }
    .team-flex-wrap{
        grid-auto-columns: 60%;
    } 
   .team-flex-wrap .card{
        height: 30rem;
   }
   .team-cont h2{
        text-align: left;
        font-size: 3rem;
        margin-left: 2.5rem;
    }
}
@media (min-width: 800px){
    .team-cont{
        padding-left: 3rem;
    }
    .team-cont h2{
        text-align: left;
        font-size: 3.5rem;
    }
    .team-flex-wrap{
        grid-auto-columns: 50%;
    } 
    .team-flex-wrap .card .top .img-wrap {
        height: 20rem;
    }
    .team-flex-wrap .card .bottom{
        padding-left: 1.5rem;
    } 
}
@media (min-width: 1024px){
    .team-cont{
        padding-left: 5rem;
    }
    .team-cont h2{
        font-size: 4rem;
    }
    .team-flex-wrap{
        grid-auto-columns: 35%;
        gap: 5rem;
    }
    .team-flex-wrap .card:first-of-type{
       
    }
    .team-flex-wrap .card .bottom{
        padding-left: 2.5rem;
    } 
}
.team-flex-wrap .card:last-of-type{
    border-radius: 50%;
    border: transparent;
    display: -webkit-grid;
    display: -ms-grid;
    display: grid;
    place-content: center;
    background: none;
    backdrop-filter: unset;
 }

 /* testimonials */
.testimonials{
    width: 100%;
    padding-bottom: 15%;
    padding-top: 2%;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    background-color: rgba(255, 255, 255, 0.242);
}
.testimonials h2{
    font-weight: 500;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.client-stack{
    width: 100%;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    -webkit-cursor: grab;
    cursor:grab;
    -moz-user-select: none;
    -ms-user-select: none;  
    -webkit-user-select: none;
     user-select: none;
}
.c-card{
    -moz-user-select: none;
    -ms-user-select: none;  
    -webkit-user-select: none;
    user-select: none;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    min-height: 15rem;
    line-height: 2;
    padding: 1rem;
    row-gap: 1rem;
    border: 3px solid #ddd;
    border-radius: 1rem;
    background: url(/imgs/backgrounds/n01.svg), white;
    background-size: cover;
}
.c-btm{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 1rem;
}
.ctn-img{
    border-radius: 50%;
    padding: 1%;
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    background-color: rgb(255, 255, 255);
}
.ctn-img img{
    -webkit-clip-path: circle(50%);
    clip-path: circle(50%);
    border-radius: 50%;
    -o-object-fit:cover;
    object-fit:cover;
    -o-object-position: center;
    object-position: center;
}
.cbm{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.cbm span:first-of-type {
    font-weight: 900;
    color: var(--accent-color);
}
.cbm span:nth-of-type(2) {
    color: #5c5b5c;
}

.client-stack{
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}
.c-card{
    scroll-snap-align: start;
}
.client-stack:first-of-type{
    padding-left: 1rem;
}
.client-stack:last-of-type{
    padding-right: 1rem;
}
@media (min-width: 700px){
    .client-stack{
        grid-auto-columns: 60%;
    }
    .c-card{
        padding: 1.8rem;
    }
}
@media (min-width: 1024px){
    .testimonials h2{
        font-size: 3.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        line-height: 1.2;
    }
    .testimonials{
        padding-bottom: 5%;
    }
    .client-stack{
        grid-auto-columns: 38%;
    }
    .c-card{
        min-height: 20rem;
        padding: 2rem;
    }
}

/* faqs */
.faqs{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding-block: 3rem;
}
@media (max-width: 767px){
    .faqs{
        min-height: 60vh;
        min-height: 60dvh;
    }
}
.faqs h2{
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}
.faqs .accordion{
    cursor: pointer;
    text-align: left;
    font-weight: 300;
    padding: .5rem;
    width: 100%;
    /* PEGGGGGGGGGGGGGGGGGGGGG */
    -webkit-transition: border 0.4s ease-in-out,background 0.4s ease-in-out;
    -o-transition: border 0.4s ease-in-out,background 0.4s ease-in-out;
    transition: border 0.4s ease-in-out,background 0.4s ease-in-out;
    border-bottom: 4px solid var(--secondary-color);
}
.faqs .accordion.active, .accordion:hover{
    background-color: var(--accent-color);
    background: url(/imgs/backgrounds/n1.svg);
}
.accordion.active{
    background: url(/imgs/backgrounds/n1.svg);
    border-bottom: none;
}
.panel{
    padding: .5rem .6rem .5rem 1rem;
    height: auto;
    display: none;
    border-bottom: 4px solid var(--secondary-color);
}
@media (min-width: 768px){
    .faqs{
        padding-block: 4rem;
    }
    .faqs h2{
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    .faqs .accordion{
        padding-left: 1rem;
        font-size: 1.8rem;
    }
    .panel{
        font-size: larger;
        line-height: 2;
        padding: 1rem 1rem 1rem 2rem;
    }
}
@media (min-width: 1024px){
    .faqs{
        padding-block: 5rem;
    }
    .faqs .accordion{
        padding: 1.5rem;
    }
    .panel{
        font-size: x-large;
        padding: 1rem 1rem 1rem 2.5rem;
    }
}
.divider{
    background-color: transparent;
}

/* reach */
.reach{
    padding: 1rem;
}


/* backgrounds */

.backit_black{
    z-index: -2;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url(/imgs/backgrounds/ssspill.svg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:768px){
    .backit_black{
        background: url(/imgs/backgrounds/burn.svg);
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }


}
.blur{
  z-index: -2;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(24px);
}
.more{
    /* border-bottom-left-radius:  5%;
    border-bottom-right-radius: 10%; */
}