:root {
    --white: #fff;
    --white-50: rgba(255, 255, 255, .5);
    --white-20: rgba(255, 255, 255, .2);
    --white-5: rgba(255, 255, 255, .05);
    --accent-color:#d890f9;
    --secondary-color:#dddbff;
    --gray: #767676;
    /* button cta */
    --black-700: linear-gradient(#dddbff, #d890f9);
    --border_radius: 5rem;
    --transtion: 0.3s ease-in-out;
    --offset: 3rem;
}

/* lenis css */
html.lenis, html.lenis body {
height: auto;
}

.lenis.lenis-smooth {
scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
touch-action: none;
    /*====peg==== Safari-friendly alternative */
}

.lenis.lenis-stopped {
overflow: hidden;
}

.lenis.lenis-smooth iframe {
pointer-events: none;
}


body{
    font-family: monospace;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
} 

::-webkit-scrollbar{
    display: none;
}

.hero h1{
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
} 

.rec{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
    width: 18px;
    height: 18px;
}
.rec-dot{
    position: relative;
    width: 18px;
    height: 18px;
}
.dot{
    width: 18px;
    height: 18px;
    background: red;
    border-radius: 50%;
    animation: pulse 3s infinite ease-in-out alternate;
}
.rec-dot img{
        transform: scale(5);
        position: absolute;
        top: 0;
        left: 0;
}
.hero{
    position: relative;
    background-color: white;
    background: url(/imgs/backgrounds/n_light.svg);
    overflow-x: hidden;
}
.img-holder{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
    transform: rotate(30deg);      
}       
.img-holder img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.5);
}
.img-holder::before{
    content: " ";
    position: absolute;
    inset: 0;
    background: linear-gradient( #000000, #00000080, black);
    z-index: 1;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    z-index: 2;
    overflow-x: hidden;
}
.letters{
    flex: 1;
    display: flex;
    text-transform: uppercase;
}
.letters > div{
    flex: 1;
    font-size: 6rem;
    font-weight: 400;
    color: black;
    text-align: center;
}
@media(max-width: 768px){
    .letters > div{
        font-size: 2rem;
    }
}

@keyframes stride {
    to{
        transform: translateY(10px);
        text-decoration-color: #ae00ff;
        color: black;
        stroke: purple;
    }
}
.down{
    user-select: none;
    position: absolute;
    bottom: .8rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    gap: 1rem;
}
.down a{
    display: inline;
    font-weight: 300;
    color: gray;
    text-decoration: 1px underline solid var(--accent-color);
    text-underline-offset: 5px;
    animation: stride 1.5s infinite cubic-bezier(0.215, 0.610, 0.355, 1) alternate;
}

#scroll-icon rect {
	stroke: var(--secondary-color);
    stroke-width: .1rem;
}
#scroll-icon path{
    stroke: var(--accent-color);
    stroke-width: .1rem; 
    animation: stride 1.5s infinite cubic-bezier(0.215, 0.610, 0.355, 1) alternate;

}

.hold{
    z-index: 2;
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 0;
    padding-left: 2rem;
    text-shadow: 0 0 10px black;
}

@media (max-width: 768px){
    .hold{
        bottom: 2.5rem;
        padding-left: 1.5rem;
        padding-right: .5rem;
    }
   
}
/* sectioned */
.content{        
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    background: linear-gradient( rgba(32, 31, 31, 0.301), #000000, rgba(0, 0, 0, 0.909));
    color: white;
    overflow-x: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    gap: 1.8rem;
    margin-bottom: 2rem;
    letter-spacing: -0.01em;
}
.intro img{
   vertical-align: bottom;
   height: .25em;
}

@media(min-width: 1114px){
    .intro{
        gap: 1rem;
        font-size: 6rem;
        font-weight: 400;
    }
    
}

/* awards */

.fav-rows{
    padding-inline: 5%; 
}
.upper-images{
    display: grid;
    gap: 3rem;
}
.upper-images img{
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.upper-images figcaption{
    position: relative;
    z-index: 2;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-block: 2rem;
    padding-inline: 1rem;
}
.upper-images figcaption::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    backdrop-filter: blur(24px);
}
.upper-images figcaption::after{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
    background: url(/imgs/backgrounds/ffflux.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.upper-images footer{
    border-top: 1px solid white;
    margin-top: .5rem;
    padding-top: .9rem;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 500px){
    .upper-images{
        grid-template-columns: 1fr 1fr;
        align-items: end;
    }
}
@media (min-width: 1200px) and (max-width: 2500px) {
    .fav-rows{
      padding-inline: auto;
      margin-inline: auto;
    }
    .sized{
        display: none;
    }
    .upper-images{
        display: block;
        columns: 300px;
        min-height: 100vh;
        min-height: 100dvh;
       
    }
    .upper-images h3{
        color: var(--secondary-color);
            font-size: 2.1875rem;
			font-weight: 400;
			line-height: 2.625rem;
    }
    .upper-images p{
        font-size: 0.8125rem;
    }
    figure footer p.small{
        font-size: 0.8125rem;
		font-weight: 700;
        text-transform: uppercase;
    }
    
    .upper-images figure{
        position: relative;
        z-index: 10;
        overflow: hidden;
        border-radius: .5rem;
        border: 1px solid white;
    }
    .upper-images figure:not(:last-of-type){
        margin-bottom: 1rem;
    }
    .upper-images img{
        display: block;
        object-fit: cover;
        height: auto;
        border-radius: unset;
    }
    .upper-images figcaption{
        position: absolute;
        inset: 0;
        z-index: 2;
        border-radius: unset;
        pointer-events: none;
        padding: .5rem 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
    }
    .upper-images figcaption article{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        gap: .2em;
        transform: translate3d(0, -6rem,0);
        transition-property: transform;
        z-index: 13;
    }
    .upper-images figcaption::after{
        display: none;
    }
    .upper-images figcaption::before{
        opacity: 0;
        z-index: 12;
        background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
        backdrop-filter: blur(5px);
    }
    .upper-images footer{
        transform: translate3d(0, 6rem,0);
        transition-property: transform;
        z-index: 13;
    }
    .upper-images figcaption{
        opacity: 0;
    }
    .upper-images figure:hover,
    .upper-images figure:active{
        border-width: 3px;
        border-color: var(--secondary-color);
    }
    .upper-images figure:hover img,
    .upper-images figure:active img{      
        transform: scale(1.5);
        transition:  transform .4s linear;
    }
    .upper-images figure:hover figcaption,
    .upper-images figure:hover figcaption::before,
    .upper-images figure:active figcaption,
    .upper-images figure:active figcaption::before{
        opacity: 1;
    }
    .upper-images figure:hover article,
    .upper-images figure:hover footer,
    .upper-images figure:active article,
    .upper-images figure:active footer{
        transform: translate3d(0,0,0);
    }
    .upper-images figcaption::before,
    .upper-images figure article,
    .upper-images figure footer{
        transition-duration: .4s;
        transition-timing-function: ease-in-out;
    }
}

@media (min-width: 2560px){
    .fav-rows{
        margin-top: 5rem;
    }
   
}

/* brief */
.brief{
    color: white;
    background: url(/imgs/backgrounds/dense-acc-specsm.svg);
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
   
}
.brief h2::first-letter{
    font-size: 3rem;
    text-transform: capitalize;
}

.brief-footer{
   width: 100%;
   height: 100%;
   border: 5px solid #76767600;
   border-radius: 1rem;
}
.brief-footer video{
   display: block;
   width: 100%;
   height: 100%;
   aspect-ratio: 16/9;
   border-radius: 1rem;
   margin-bottom: .25em;
}
.brief-footer p{
    color: var(--accent-color);
    font-weight: 700;
}

@media (min-width: 768px){
    .brief{ 
        padding-inline: 4rem;
        padding-top: 1.5rem;
        padding-bottom: 4rem;
    }
    .brief h2::first-letter{
        font-size: 5rem;
    }
}
@media (min-width: 700px){
    .brief{   
        padding-inline: 6rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    .brief h2::first-letter{
        font-size: 5rem;
    }
   
}

.gallery{
    margin-top: 1rem;
    padding-top: 3rem;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #ffffff;
    background: url(/imgs/backgrounds/n_light.svg);
    color: black;
}
.gallery,
.header-explore{
    position: sticky;
    top: 0;
}
.header-explore{
   background: inherit;
}
.header-explore h1{
    padding-left: 1rem;
}
.filter-wrapper{
    width: 100%;
    padding-inline: 1rem;
    padding-block: .5rem;
    border-bottom: 1px solid black;
}
.filter-wrapper > div{
    width: 100%;
    overflow-x: scroll;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: .25em;
}
.filter-wrapper > div *{
    color: black;
    border:  2px solid black;
    padding: 3px 8px;
    font-weight: 300;
    border-radius: .5rem;
    transition: background-color .4s ease-in-out, border-color .3s ease-out;
}
.filter-wrapper button{
    background-color: white;
}
.activated button.active{
    background-color: black;
    color: white;
    font-weight: 400;
}
.activated button:hover{
    border-color: rgba(128, 0, 128, 0.183);
}
.snap{
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1.5rem;
    overscroll-behavior-inline: contain;
}
.snap > * {
    scroll-snap-align: start;
}

@media(min-width: 900px){
    .filter-wrapper{
        padding-inline: 2rem;
        padding-block: .7rem;
    }
}

/* gallery */
.gallery-items{
    columns: 350px;
    padding: .5em;
    min-height: 90dvh;
}
.gallery-item{
    cursor: pointer;
    margin-bottom: 1em;
}
.gallery-item img,
.gallery-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px 1px black;
  
}
.gallery-item video{
    aspect-ratio: 16/9;
}
.play-button{
    position: relative;
    z-index: -1;
  
}
.play-button::after{
    position: absolute;
    inset: 0;
    width:100%;
    height:100%;
    content: url(/imgs/resized-p/play-circle.svg);
    display: grid;
    place-content: center;
    opacity: 1;
    transition: opacity .2s ease-in-out;    
}
.gallery-item:hover .play-button::after{
   opacity: 0;
}
/* modal */
.modal{
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(24px);
    place-content: center;
    padding: 2rem;
} 

.modal-content{
    position: relative;
    background-color: white;
    padding-inline: 5%;
    padding-top: 5%;
    padding-bottom: 6%;
    object-fit: contain;
    border-radius: .5rem;
    overflow: auto;
    touch-action:  pan-x pan-y;
}

.modal-content img,
.modal-content video{
   max-height: 100vh;
   max-height: 100dvh;
   object-fit: cover;
   object-position: center;
    
}
.modal-content video{
    aspect-ratio: 16/9;
}
.modal-content p{
    margin-top: .5em;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 2rem;
    font-weight: 300;
    background-color: white;
    padding-inline: 3px;
    border-radius: 1rem;
    cursor: pointer;
    display: grid;
    place-content: center;
}


@media (min-width: 500px){
    .modal-content img,
    .modal-content video{
        max-height: 90vh;
        max-height: 90dvh;
    }
}

